@charset "UTF-8";

/*
Stylesheet for Countries in Perspective - Timeline
Originally Created May, 2012
DLIFLC - Technology Integratioin Division
Author: Patrick Wilkes
*/
html{
	/*Keeps Vert Scrollbar on in Firefox at all time and avoids image shifting- do not delete*/
	overflow:-moz-scrollbars-vertical;
	overflow-y: scroll;
}

#timelineHTML5 {
	position: relative;
	font-family:Verdana, Geneva, Arial, sans-serif;
	margin:0px auto 0px auto;
	padding:0px;
	width:645px;
	background: #444;
	background-image:url(../images/ui/interactiveFrame.png);
	background-repeat: no-repeat;
	box-sizing: border-box;
	border: 1px solid#444;
}


#tlTitle {
	
	margin:15px 0px 0px 15px;
	font-size:16px;
	font-weight: normal;
	color: #fff;
	height: 

}

.subtitle {
	font-weight: normal;
	color: #fcfcc8;
}

#tlTitle
{
	left:0px;
	top:0px;
	height:21px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
}

#tlContent
{
	background: #fff;
	width:97%;
	margin:15px auto;
	margin-bottom: 0px;
	padding:0px;
	overflow:hidden;
	
}
#tlNodeData
{
	position: relative;
	left:0px;
	top:16px;
	margin:0px;
	padding:0px;
	height:260px;
	opacity:.8;
}

#tlInstructions
{


	left:15px;
	top:271px;
	width:590px;
	height:20px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
}

#tlBottomBar
{
	left:0px;
	top:290px;
	margin:0px;
	padding:0px;
	width:650px;
	height:50px;
	background-color:#111;
	z-index:25;
}

#tlDateBar
{
	top:0px;
	left:0px;
	width: 645px;
	height:23px;
	margin:0px;
	padding:0px;
	background-color:#ddd;
}

#tlSliderBar
{
	left:0px;
	top:27px;
	width:645px;
	height:20px;
	outline: 2px inset #111111;
	background: rgb(136,136,136); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(136,136,136,1) 0%, rgba(51,51,51,1) 2%, rgba(51,51,51,1) 5%, rgba(141,141,141,1) 8%, rgba(67,67,67,1) 94%, rgba(51,51,51,1) 96%, rgba(51,51,51,1) 98%, rgba(204,204,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(136,136,136,1)), color-stop(2%,rgba(51,51,51,1)), color-stop(5%,rgba(51,51,51,1)), color-stop(8%,rgba(141,141,141,1)), color-stop(94%,rgba(67,67,67,1)), color-stop(96%,rgba(51,51,51,1)), color-stop(98%,rgba(51,51,51,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(136,136,136,1) 0%,rgba(51,51,51,1) 2%,rgba(51,51,51,1) 5%,rgba(141,141,141,1) 8%,rgba(67,67,67,1) 94%,rgba(51,51,51,1) 96%,rgba(51,51,51,1) 98%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(136,136,136,1) 0%,rgba(51,51,51,1) 2%,rgba(51,51,51,1) 5%,rgba(141,141,141,1) 8%,rgba(67,67,67,1) 94%,rgba(51,51,51,1) 96%,rgba(51,51,51,1) 98%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(136,136,136,1) 0%,rgba(51,51,51,1) 2%,rgba(51,51,51,1) 5%,rgba(141,141,141,1) 8%,rgba(67,67,67,1) 94%,rgba(51,51,51,1) 96%,rgba(51,51,51,1) 98%,rgba(204,204,204,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(136,136,136,1) 0%,rgba(51,51,51,1) 2%,rgba(51,51,51,1) 5%,rgba(141,141,141,1) 8%,rgba(67,67,67,1) 94%,rgba(51,51,51,1) 96%,rgba(51,51,51,1) 98%,rgba(204,204,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888888', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

	overflow:hidden;
}

#tlSliderButton
{
	
	top:1px;
	width:44px;
	height:18px;
	margin:0px 10px 0px 0px;
	z-index:20;
	cursor: hand;
	cursor: pointer;
	background-image:url(../images/timeline/tlSliderButton.jpg);
	background-repeat: no-repeat;
}

#tlSliderLine
{

	left:10px;
	top:10px;
	width:600px;
	height:1px;
	background-color:#000;
	z-index:10;
}

#tlPopupBox
{
	position: absolute;
	padding: 5px;
	width:360px;
	margin: 0px -180px;
	text-align: center;
	left: 50%;	
	top: 200px;
	height: auto;
	min-height: 60px;
	/*top: 85px;
	left: 140px;*/
	background-color:#f0f0f0;
  	box-shadow: 0px 2px 2px #888;
  	-moz-box-shadow: 0px 2px 2px #888;
  	-webkit-box-shadow: 0px 2px 2px #888;
	border-radius:  3px;
	-webkit-border-radius:  3px;
	-moz-border-radius:  3px;
	z-index:200;
	opacity:0.9;
	cursor: hand;
	cursor: pointer;
}

#tlCloseX
{
	position: relative;
	font-size:14px;
	font-weight:bold;
	float: right;
	right:-12px;	
	top:-12px;
	background: #ddd;
	border-radius: 30px;
	width: 24px;
	height: 24px;
	line-height: 24px;
	box-shadow: 0px 1px 1px #000;
	padding:0px;
	text-align: center;
}

#tlCloseX:hover, #tlCloseX:active{
	color: #903;
	background-color: #eee;
}

#tlPopupContent
{
	padding: 5px 5px 0px 5px;
	/*top: 20px;
	left: 10px;*/
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	text-align:left;
	height: auto;
}

#tlPopupClose
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:left;
	left:305px;	
	top:6px;
	cursor:pointer;
}

/*#tlCloseX
{
	position:absolute;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	font-weight:bold;
	position:absolute;
	left:345px;	
	top:6px;
	outline: 1px solid #666;
	padding:0px 1px 1px 2px;
	cursor:pointer;
}*/

.eventNode
{
	float: left;
	height:210px;
	width:298px;
	margin:0px;
	padding:0px 8px 0px 6px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
}
.tlDate
{   float:left;
	height:18px;
	margin:0.5px;
	padding:0.5px;
	border:1px solid #ddd;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	text-align:center;
	color:#fff;
	cursor:pointer;
	/*background-image:url(../images/timeline/btnBG.png);*/
	border-top: 1px solid #fff;
    box-shadow: #444 0px 1px 2px;
    background-color: #85986b; 
    background-repeat: repeat-x; 
    /* Safari 4-5, Chrome 1-9 */ 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a8b791), to(#85986b)); 
    /* Safari 5.1, Chrome 10+ */ 
    background: -webkit-linear-gradient(top, #a8b791, #85986b); 
    /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #a8b791, #85986b); 
    /* IE 10 */ background: -ms-linear-gradient(top, #a8b791, #85986b); 
    /* Opera 11.10+ */ background: -o-linear-gradient(top, #a8b791, #85986b);	
	
}


.tlDate:hover, .tlDate:active, .tlDate:focus {
	color: #903;
}